apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: {{ include "promt-eval.fullname" . }}-mongodb
spec:
  members: 1
  type: ReplicaSet
  version: "6.0.5"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: {{ include "promt-eval.fullname" . }}-mongo-user
      db: admin
      passwordSecretRef: # a reference to the secret that will be used to generate the user's password
        name: random-password
      roles:
        - name: clusterAdmin
          db: admin
        - name: userAdminAnyDatabase
          db: admin
      scramCredentialsSecretName: {{ include "promt-eval.fullname" . }}-scram
  additionalMongodConfig:
    storage.wiredTiger.engineConfig.journalCompressor: zlib